@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    background-color: black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.expentwo {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.expentwo img {
    max-width: 80px;
}

.ul-co {
    display: flex;
    align-items: center;
    gap: 40px;
}

.ul-co a {
    color: white;
    font-weight: 700;
}

.home {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 200px;
    padding-bottom: 220px;
}

.hero-co {
    display: flex;
    justify-content: space-between;
}

.hero-co img {
    width: 40%;
}

.hero-info h1 {
    font-size: 70px;
    font-weight: 800;
}

.hero-info h2 {
    font-size: 20px;
    font-weight: 700;
}

.hero-info h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 40px;
}

.button-co {
    display: flex;
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    gap: 15px;
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;
    font-weight: 700;
}

.button-co :hover {
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
}

.about-us {
    padding-top: 140px;
    padding-bottom: 50px;
}

.about-expentwo {
    text-align: center;
}

.about-expentwo h1 {
    font-size: 35px;
    font-weight: 800;
}

.about-expentwo p {
    margin-top: 20px;
    margin-bottom: 60px;
}

.about-class-co {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-class {
    margin-bottom: 40px;
}

.about-class h1 {
    font-size: 35px;
    font-weight: 800;
}

.gallery {
    padding-top: 150px;
    padding-bottom: 50px;
}

.gallery h1 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}

.gallery-co {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gallery-photo img {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.contact-co {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.expentwo-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 110px;
    font-size: 25px;
}

.social-media-co {
    margin-top: 40px;
}

.social-media {
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 20px;
    gap: 10px;
}

.copyright {
    text-align: center;
    background-color: var(--black);
    padding: 10px 10px;
}

.copyright a {
    color: var(--white);
}

.kontak-form {
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px #dedede;
    padding: 20px;
    border-radius: 15px;
}

.kontak-form h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 3vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #d4d4d4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/* Muridd-----------------------------------------------------*/

.murid {
    padding-top: 140px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 80px;
}

.murid-title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.card-murid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.card {
    padding: 25px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px #dedede;
}

.card img {
    border-radius: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.card h1 {
    font-size: 20px;
    font-weight: 800;
}

.card h2 {
    font-size: 16px;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #6b6b6b;
}

.ig-warp {
    display: flex;
    justify-content: end;
    font-size: 15px;
    font-weight: 700;
    gap: 2px;
}

.instagram-m iconify-icon {
    font-size: 30px;
}

.gallery-not-found {
    padding-top: 280px;
    padding-bottom: 180px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.gallery-not-found h1 {
    font-size: 45px;
    font-weight: 800;
}

.gallery-not-found h2 {
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    ul li a {
        display: none;
    }

    .hero-co {
        flex-wrap: wrap-reverse;
    }

    .hero-co img {
        width: 100%;
        margin-bottom: 80px;
    }

    .hero-info h1 {
        font-size: 60px;
    }

    .hero-info h2 {
        font-size: 18px;
    }

    .hero-info h3 {
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 16px;
    }

    .about-us {
        margin-left: 60px;
        margin-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about-expentwo br {
        display: none;
    }

    .about-class-co {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .gallery-co {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .contact-co {
        display: flex;
        flex-wrap: wrap;
    }

    .kontak-form {
        padding: 20px;
        border-radius: 15px;
    }

    .kontak-form h2 {
        font-size: 25px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 2vw 3vw;
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    form input,
    form textarea,
    form button {
        width: 100%;
        padding: 18px;
        border: none;
        border-radius: 8px;
        margin-bottom: 5px;
        background-color: #d4d4d4;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }    

    .container-kontak {
        margin-top: 50px;
    }

    .card-murid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .copyright a{
        font-size: 14px;
    }

    .murid{
        margin-left: 30px;
        margin-right: 30px;
    }

    .card{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .navbar{
        padding-right: 25px;
        padding-left: 25px;
    }


    .contact-co {
        display: flex;
        flex-wrap: wrap;
    }

    .kontak-form {
        padding: 20px;
        border-radius: 15px;
    }

    .kontak-form h2 {
        font-size: 25px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 2vw 3vw;
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    form input,
    form textarea,
    form button {
        width: 100%;
        padding: 18px;
        border: none;
        border-radius: 8px;
        margin-bottom: 5px;
        background-color: #d4d4d4;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }    

    .container-kontak {
        margin-top: 50px;
    }

    .home,
    .about-us,
    .gallery-co,
    .contact-co {
        margin-left: 40px;
        margin-right: 40px;
    }

    .hero-info h1 {
        font-size: 55px;
    }

    .hero-info h2 {
        font-size: 16px;
    }

    .hero-info h3 {
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 14px;
    }

    .about-expentwo h1 {
        font-size: 30px;
    }

    .about-expentwo p {
        font-size: 14px;
    }

    .about-class h1 {
        font-size: 28px;
    }

    .about-class h2 {
        font-size: 18px;
    }

    .gallery h1 {
        font-size: 30px;
    }

    .button {
        padding: 6px 25px;
        font-size: 15px;
        gap: 15px;
        font-weight: 700;
    }

    .contact-info br {
        display: none;
    }

    .contact-info span {
        font-size: 14px;
    }

    .social-media-co h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .social-media-co a {
        font-size: 18px;
    }
}

@media screen and (max-width: 410px) {
    

    .expentwo {
        display: flex;
        align-items: center;
        color: white;
        gap: 10px;
    }
    
    .expentwo img {
        max-width: 70px;
    }

    .hero-info h1 {
        font-size: 50px;
    }

    .hero-info h2 {
        font-size: 16px;
    }

    .hero-info h3 {
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 14px;
    }

    .about-expentwo h1 {
        font-size: 25px;
    }

    .about-expentwo p {
        font-size: 14px;
    }

    .about-class h1 {
        font-size: 28px;
    }

    .about-class h2 {
        font-size: 18px;
    }

    .gallery h1 {
        font-size: 25px;
    }

    .button {
        padding: 6px 25px;
        font-size: 15px;
        gap: 15px;
        font-weight: 700;
    }

    .contact-info br {
        display: none;
    }

    .contact-info span {
        font-size: 14px;
    }

    .social-media-co h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .social-media-co a {
        font-size: 18px;
    }
}

@media screen and (max-width: 370px) {
    form {
        display: flex;
        flex-direction: column;
        padding: 2vw 3vw;
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    form input,
    form textarea,
    form button {
        width: 100%;
        padding: 18px;
        border: none;
        border-radius: 8px;
        margin-bottom: 5px;
        background-color: #d4d4d4;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }    

    .expentwo-contact img {
        width: 80%;
    }

    .expentwo-contact h1 {
        font-size: 35px;
    }

    .about-class span{
        font-size: 25px;
    }
}